.Main_chat
  .Main_chat__group_info
    .Main_chat__group_info__group
    
      .Main_chat__group_info__group__name 
        = @group.name
          
      .Main_chat__group_info__group__member
        Member : 
        - @group.users.each do |user|
          = user.name 
    .Main_chat__group_info__edit
      = link_to edit_group_path(@group) do
        = 'Edit'
  .Main_chat__message_list
    = render @messages

  .Main_chat__message_form
    = form_with model: [@group, @message], html: {class: "contents"}, local: true do |f|
      .input_content
        = f.text_field :content, class: 'input_content__text', placeholder: 'type a message'
        = f.label :image, class: 'input_content__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input_content__image__file'
      = f.submit 'Send', class: 'submit_btn'

  